# Entornos virtuales y caché de Python
__pycache__/
.venv/
venv/
env/
*.pyc

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de Streamlit
.streamlit/secrets.toml

# Archivos de dependencias y build
*.egg-info/
dist/
build/
wheels/
*.whl

# Logs y reportes
*.log
htmlcov/
.coverage

# Archivos de proyectos y notas (IGNORAR ESTOS TIPOS DE ARCHIVO)
*.docx
*.pdf
*.xlsx
*.txt
*.Rhistory
*.RData
*.qgz
*.qml
*.qlr
*.html
*.csv
*.zip

# Carpetas de salida y temporales (IGNORAR ESTAS CARPETAS)
/results/
/shapes/
/descargas/
/hms/
/backups/
/archivos_grandes_backup/
/attached_assets/
/static/
/MDT25/
/NASA DEM hgt/
/Wheels4Python/

# Ignorar archivos TIF y VRT en la raíz del proyecto
# Los datos deben estar en la carpeta /data
/*.tif
/*.vrt