# Requirements optimizado para deployment web
# Framework principal
streamlit==1.40.2
stripe==10.5.0
# Análisis
numpy==1.26.4
pandas==2.3.1
scipy>=1.11,<1.15
pillow==11.3.0
# Geoespaciales COMPLETAS
GDAL>=3.4,<3.8  --> insertarlo en Dockerfile via conda
fiona==1.10.1
geopandas==1.1.1
rasterio==1.4.3
shapely==2.1.1
pyproj>=3.4,<3.8
# PySheds y dependencias hidrológicas
pysheds>=0.3.5
pyflwdir>=0.5.9
affine>=2.3.0
pydeck>=0.8.0
# Visualización
folium==0.19.2
streamlit-folium==0.17.4
matplotlib==3.8.0
plotly==5.24.1
# Utilidades básicas
requests==2.32.3